/* Estilos generales para centrar contenido */
h1{
    color: var(--ion-color-primary);
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    text-align: center; /* Centra el texto */
    overflow: hidden; /* Evita que elementos desborden */
}

img {
    width: auto;
    height: 40vh;
    // height: 1000px;
    // width: 1000px;
    // max-width: 80%;
     /* Se ajusta dinámicamente */
}

/* Animación de desvanecimiento para el header y el footer */
.fade-in {
    animation: fadeIn 2s ease-in-out forwards;
    opacity: 0;
}

/* Animación del ícono que primero baja y luego sube */
.pulse-icon {
    animation: moveDownThenUp 3s ease-in-out forwards;
    max-width: 100%; /* Asegura que la imagen no se desborde */
    height: auto;
}

/* Definición de la animación de desvanecimiento */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Nueva animación: baja y luego sube */
@keyframes moveDownThenUp {
    0% {
        transform: translateY(0) scale(2); /* Comienza grande */
        opacity: 1;
    }
    30% {
        transform: translateY(100px) scale(1.7); /* Se mueve hacia abajo */
        opacity: 0.9;
    }
    60% {
        transform: translateY(-100px) scale(1.2); /* Sube */
        opacity: 0.7;
    }
    100% {
        transform: translateY(-300px) scale(1); /* Más pequeño y desaparece */
        opacity: 0;
    }
}

.slide-bck-center {
    animation: slide-bck-center 3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }
  
  @keyframes slide-bck-center {
    0% {
      transform: translateZ(0) scale(1);
    }
    25% {
      transform: translateY(-50px) scale(0.75);
    }
    100% {
        transform: translateY(-50px) scale(0.75) translateX(500px) rotate(1000deg); /* Gira y se traslada */
      }
  }
  