<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->

<ion-app>
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-button color="light" [routerLink]="'/'" routerDirection="root" *ngIf="!isCurrentRoute('/')">
          <ion-icon name="home"></ion-icon>
        </ion-button>
        <ion-button color="light" [routerLink]="'/login'" routerDirection="root" *ngIf="!isCurrentRoute('/login')">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <!-- <ion-buttons slot="end">
        <ion-button color="light" (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-footer>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>

<!-- El splash screen personalizado -->
<app-splash-screen *ngIf="!bandera"></app-splash-screen>
