<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  template="<img src=''./../../../assets/logo.png' alt='logo' />"
>
  <p style="color: #dee2e6; font-size: 40px">Cargando...</p>
</ngx-spinner>

<ion-content>
  <div class="container">
    <ion-title>Inicio de sesión</ion-title>

    <h2 class="text-access">Acceso rápido</h2>
    <div class="buttons-container">
      <button
        class="btn"
        (click)="handleQuickAccess('admin@admin.com', '111111')"
      >
        Admin
      </button>
      <button
        class="btn"
        (click)="handleQuickAccess('invitado@invitado.com', '222222')"
      >
        Invitado
      </button>
      <button
        class="btn"
        (click)="handleQuickAccess('usuario@usuario.com', '333333')"
      >
        Usuario
      </button>
      <button
        class="btn"
        (click)="handleQuickAccess('anonimo@anonimo.com', '444444')"
      >
        Anónimo
      </button>
      <button
        class="btn"
        (click)="handleQuickAccess('tester@tester.com', '555555')"
      >
        Pruebas
      </button>
    </div>

    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
      <ion-input
        color="dark"
        id="email"
        formControlName="email"
        type="email"
        label="Email"
        placeholder="hola@gmail.com"
        (input)="onInputChange()"
      />
      <br />
      <ion-input
        color="dark"
        id="password"
        formControlName="password"
        type="password"
        label="Password"
        placeholder="unacontraseña"
        (input)="onInputChange()"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>

      <button id="button" type="submit">Iniciar sesión</button>
    </form>
  </div>
  <div *ngIf="errorMessage.length > 0">
    <ion-toast
      class="text-danger"
      color="danger"
      [duration]="5000"
      (didDismiss)="errorMessage = ''"
      isOpen="errorMessage.length > 0"
      [message]="errorMessage"
      position="bottom"
    ></ion-toast>
  </div>
</ion-content>
